<div id="containerx">
    <div id="urgencehearder">
        <h1>Contact</h1>
        <p><a href="#"> Dr Houssam Ait Bouziane </a> > Contact </p>
    </div>
    <div id="urgencesection">
        <div id="contactus">
            <h2 style="color: #130947;">Informations</h2>
            <div class="englob">
                <div>
                    <mat-icon>location_on</mat-icon>
                </div>
                <div>
                    <h3>Adresse</h3>
                    <p>El Mhamid Avenue Guemassa Hamza 2, N8, Marrakesh 40000</p>
                </div>
            </div>
            <hr>
            <div class="englob">
                <div>
                    <mat-icon>local_phone</mat-icon>
                </div>
                <div>
                    <h3>Appelez-nous</h3>
                    <p>05 24 01 51 89</p>
                </div>
            </div>
            <hr>
            <div class="englob">
                <div>
                    <mat-icon>alternate_email</mat-icon>
                </div>
                <div>
                    <h3>E-mail</h3>
                    <p>contact@drhoussam.com</p>
                </div>
            </div>
        </div>
        <div id="section">
           
            <h3 style="color: #8FB3FC;">CENTRE DENTAIRE DR HOUSSAM AIT BOUZIANE</h3>
            <h1>Pour plus d'information utilisez le formulaire ci-dessous</h1>
            
            <div class="FormHolder">
                <h3>feel free to contact Us</h3>    
                <form #myForm="ngForm" (submit)="submit(myForm)">
                    <input ngModel type=hidden name="oid" value="00D8d000002cnSW">
                    <input ngModel type=hidden name="retURL" value="google.com">
    
                    <div class="mb-3">
                        <label for="first_name">First Name</label>
                        <input ngModel #firstname="ngModel" required id="first_name" maxlength="40" name="first_name" size="20" type="text" class="form-control" />
                        <div *ngIf="firstname.touched && !firstname.valid" class="alert alert-danger">
                            <div *ngIf="firstname.errors?.['required']">firstName does not must be empty </div>
                        </div>
                    </div>
            
                    <div class="input">    
                        <label for="last_name">Last Name</label>
                        <input ngModel #lastname="ngModel" required id="last_name" maxlength="80" name="last_name" size="20" type="text" class="form-control"/>
                        <div *ngIf="lastname.touched && !lastname.valid" class="alert alert-danger">
                            <div *ngIf="lastname.errors?.['required']">lastName does not must be empty </div>
                        </div>
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <input ngModel #email="ngModel" required id="email" maxlength="80" name="email" size="20" type="text" class="form-control" />
                        <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                            <div *ngIf="email.errors?.['required']">email does not must be empty </div>
                        </div>
                    </div>
                    <div class="input">
                        <label for="company">Company</label>
                        <input ngModel #company="ngModel" required id="company" maxlength="40" name="company" size="20" type="text" class="form-control"/>
                        <div *ngIf="company.touched && !company.valid" class="alert alert-danger">
                            <div *ngIf="company.errors?.['required']">company does not must be empty </div>
                        </div>
                    </div>
                    <div class="input">
                        <label for="city">City</label>
                        <input ngModel #city="ngModel" required="" id="city" maxlength="40" name="city" size="20" type="text" class="form-control"/>
                        <div *ngIf="city.touched && !city.valid" class="alert alert-danger">
                            <div *ngIf="city.errors?.['required']">city does not must be empty </div>
                        </div>
                    </div>
                    <div class="input">
                        <label for="state">State/Province</label>
                        <input ngModel #state="ngModel" required id="state" maxlength="20" name="state" size="20" type="text" class="form-control"/>
                        <div *ngIf="state.touched && !state.valid" class="alert alert-danger">
                            <div *ngIf="state.errors?.['required']">state does not must be empty </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="disabled||myForm.status==='INVALID'">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<iframe
    id="salesforce"
    name="salesforce"
    src="about:blank"
    style="display:none;"
></iframe>