#urgencehearder{
    background-color: #F1F6FB;
    padding: 70px;
    color: #130947;
    font-weight: bolder;
}
#section{
    margin: 50px 0;
    width: 60%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -36px -36px 41px -48px rgba(0,0,0,1);
    -webkit-box-shadow: -36px -36px 41px -48px rgba(0,0,0,1);
    -moz-box-shadow: -36px -36px 41px -48px rgba(0,0,0,1);
}

#contactus{
    width: 30%;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
mat-form-field{
    width: 100%;
}
.englob{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.englob div{
    margin: 10px;
}
.englob div mat-icon{
    width: 100%;
}
#send{
    width: 100%;
}
a{
    text-decoration: none;
}
#urgencesection{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-icon{
    font-size: 50px;
}
@media screen and (max-width: 981px) {
    #urgencesection{
        flex-direction: column-reverse;
    }
    #section{
        width: 90%;
    }
    #contactus{
        width: 90%;
        margin: 2px auto;
    }
}
@media screen and (max-width:705px  ){
    
}