<div id="containerx">
    <div id="urgencehearder">
        <h1>Urgences</h1>
        <p><a href="#"> Dr Houssam Ait Bouziane </a> > <a href="#">Services</a> > Urgences</p>
    </div>
    <div id="urgencesection">
        <div id="contactus">
            <div id="followus">
                <h3>SUIVEZ-NOUS</h3>
                <hr>
                <a href="#"><mat-icon>facebook</mat-icon></a>
            </div>
            <div id="followus">
                <img width="100%" style="padding-bottom: 10px" src="../../../assets/imgs/dentiste-marrakech-centre-dentaire-houssam-ait-bouziane-mhamid.jpg" alt="">
                <h2>UN SUIVI DENTAIRE</h2>
                <p>Si vous avez besoin d’aide, n’hésitez pas
                    de nous contacter.</p>
                <a href="#">Contactez-nous</a>
            </div>
        </div>
        <div id="section">
            <img id="imgurg" src="../../../assets/imgs/urgence-dentaire-Dr-houssam-ait-bouziane-marrakech-centre-dentaire-dentiste-marrakech-1536x1024.jpg" alt="">
            <div id="info">
                <h2> Nous répondons rapidement aux urgences 7j/7 </h2>
                <p>En cas d’urgence, appelez le <a href="#">06 76 92 28 71.</a></p>
                <p>Bien que notre but soit de prévenir les urgences dentaires, nous comprenons que la nécessité de soins dentaires urgents soit parfois nécessaire et puisse être une expérience stressante pour les parents et les enfants. Voilà pourquoi nous nous efforçons de répondre aux urgences le plus rapidement possible et avec compassion.</p>
                <h2>Urgences</h2>
                <p>Nous sommes toujours disponibles et vous pouvez contacter notre cabinet à tout moment tous les jours, pour quelque pathologie que ce soit :</p>
                <div id="flexdiv">
                    <ul>
                        <li>dent déplacée ou cassée</li>
                        <li>abcès dentaire</li>
                        <li>rage de dents</li>
                        <li>coupure ou morsure</li>
                        <li>dent qui change de couleur</li>
                    </ul>
                    <img src="../../../assets/imgs/urgence-dentaire-Marrakech-dr-houssam-ait-bouziane.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
