<div id="containerx">
    <div id="urgencehearder">
        <h1>NOS SPÉCIALITÉS</h1>
        <p><a href="#"> Dr Houssam Ait Bouziane </a> > NOS SPÉCIALITÉS</p>
        <div style="text-align: center;margin:60px 0">
            <p style="color: #93A9FB;">CENTRE DENTAIRE DR HOUSSAM AIT BOUZIANE</p>
            <h2>LES SOINS QUE JE DISPENSE</h2>
        </div>
        <div id="containerX">
            <div class="elem">
                <img src="../../../assets/imgs/img-01-770x500.jpg" alt="">
                <fa-icon [icon]="faIdBadge"></fa-icon>
                <h3>Soins</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/implant-dentaire-dr-houssam-ait-bouziane-marrakech-770x500.jpg" alt="">
                <fa-icon [icon]="faSyringe"></fa-icon>
                <h3>Implantologie</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/img-03-770x500.jpg" alt="">
                <fa-icon [icon]="faTooth"></fa-icon>
                <h3>Orthodontie</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/teeth-whitening-Marraekch-dr-houssam-ait-bouziane-1536x1098.jpg" alt="">
                <fa-icon [icon]="faCertificate"></fa-icon>
                <h3>Blanchiment</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/centre-dentaire-marrakech-houssam-ait-bouziane-770x500.jpg" alt="">
                <fa-icon [icon]="faDna"></fa-icon>
                <h3>Prothèse</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/centre-dentaire-marrakech-dentiste-houssam-ait-bouziane-770x500.jpg" alt="">
                <fa-icon [icon]="faCapsules"></fa-icon>
                <h3>Parodontalogie</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/Chirurgie-dentaire-Marrakech-centre-dentaire-dr-houssam-ait-bouziane.jpg" alt="">
                <fa-icon [icon]="faUserMd"></fa-icon>

                <h3>Chirurgie</h3>
            </div>
            <div class="elem">
                <img src="../../../assets/imgs/urgence-dentaire-Dr-houssam-ait-bouziane-marrakech-centre-dentaire-dentiste-marrakech-1536x1024.jpg" alt="">
                <fa-icon [icon]="faMedkit"></fa-icon>
                <h3>Urgences</h3>
            </div>
        </div>
    </div>
</div>

