<div id="containerx">
    <div id="urgencehearder">
        <h1>Blanchiment</h1>
        <p><a href="#"> Dr Houssam Ait Bouziane </a> > <a href="#">Services</a> > Blanchiment</p>
    </div>
    <div id="urgencesection">
        <div id="contactus">
            <div id="followus">
                <h3>SUIVEZ-NOUS</h3>
                <hr>
                <a href="#"><mat-icon>facebook</mat-icon></a>
            </div>
            <div id="followus">
                <img width="100%" style="padding-bottom: 10px" src="../../../assets/imgs/dentiste-marrakech-centre-dentaire-houssam-ait-bouziane-mhamid.jpg" alt="">
                <h2>UN SUIVI DENTAIRE</h2>
                <p>Si vous avez besoin d’aide, n’hésitez pas
                    de nous contacter.</p>
                <a href="#">Contactez-nous</a>
            </div>
        </div>
        <div id="section">
            <img id="imgurg" src="../../../assets/imgs/teeth-whitening-Marraekch-dr-houssam-ait-bouziane-1536x1098.jpg" alt="">
            <div id="info">
                <h2>BLANCHIMENT / ECLAIRCISSEMENT</h2>
                <p>Vous rêvez d’un sourire éclatant avec des dents parfaitement blanches ? Votre chirurgien-dentiste peut vous aider et vous proposer un blanchiment dentaire.</p>
                <h2>Le blanchiment dentaire, c’est quoi ?</h2>
                <p>Ce procédé consiste à éclaircir la couleur de l’émail et de la dentine grâce à l’utilisation d’un gel de peroxyde d’hydrogène ou de carbamide.</p>
                <h2>Le traitement</h2>
                <p>Le blanchiment dentaire s’effectue en deux séances.

                    Lors du premier rendez-vous, votre chirurgien-dentiste va d’abord réaliser un bilan bucco-dentaire complet pour vérifier l’absence de contre-indications comme des caries mal soignées, une gingivite, une faiblesse de l’émail…
                    
                    Ensuite, il va prendre vos empreintes dentaires afin de fabriquer une gouttière souple sur-mesure qui accueillera le gel éclaircissant en haut et en bas.
                    
                    Lors du second rendez-vous, votre chirurgien-dentiste s’assurera de la parfaite adaptation des gouttières avant de vous les remettre avec le produit éclaircissant afin que vous puissiez commencer le traitement.
                    
                    L’application se fait généralement le soir avant de vous coucher sur une période de 2 à 3 semaines.</p>
                <h2>Résultats</h2>
                <p>Le résultat est visible dès les premiers jours d’application et est stable dans le temps. Les dents vont quand même « jaunir » de façon naturelle mais resteront plus claires que si vous n’aviez pas fait d’éclaircissement.</p>
                <h2>Combien ça coûte ?</h2>
                <p>Le prix varie selon la quantité de produit nécessaire à l’éclaircissement. Notre équipe sera disponible pour vous établir un devis ou vous donner plus d’informations par téléphone.

                    Ce traitement n’est pas pris en charge par la Sécurité sociale et fait rarement l’objet d’un remboursement par votre mutuelle.
                    
                    Votre chirurgien-dentiste établira un devis détaillé avant toute intervention.</p>
                <div id="flexdiv">
                    <div>
                        <h2>Contre-indications</h2>
                        <p>Le blanchiment dentaire n’est pas indiqué dans les cas suivants :</p>
                        <ul>
                            <li>dent déplacée ou cassée</li>
                            <li>abcès dentaire</li>
                            <li>rage de dents</li>
                            <li>coupure ou morsure</li>
                            <li>dent qui change de couleur</li>
                        </ul>
                    </div>
                    <img width="50%" src="../../../assets/imgs/couleur-dents-avant-apres-blanchiment-centre-dentaire-dr-houssam-ait-bouziane-marrakech.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
