<div id="maindiv">
    <div id="contentdiv">
        <div class="elem">
            <h3>À PROPOS</h3>
            <hr>
            <p>Idéalement situé El Mhamid Avenue Guemassa Hamza 2, N8, Marrakesh, le centre est à proximité directe de l’aéroport Marrakech Menara. Aisément accessible par les transports en commun (taxi, bus 9-12 ), notre accueil est à votre écoute tous les jours de 10h00 à 19h00 toute la semaine.</p>
        </div>
        <div class="elem">
            <h3>CONTACTEZ-NOUS</h3>
            <hr>
            <p>El Mhamid Avenue Guemassa Hamza 2, N8, Marrakesh 40000 <br>E-mail: contact@drhoussam.com <br>Téléphone: 05 24 01 51 89</p>
        </div>
        <div class="elem">
            <h3>SUIVEZ-NOUS</h3>
            <hr>
            <a href="https://web.facebook.com/centredentaire.drhoussam.marrakech/"><mat-icon>facebook</mat-icon></a>
        </div>
        <div class="elem">
            <h3>HORAIRES</h3>
            <hr>
            <p>Lundi – Vendredi <span class="hour">10:00 – 19:00</span></p>
            <p>Samedi <span class="hour">10:00 – 13:00</span></p>
        </div>
    </div>
    <div id="copyright"> <h6>CENTRE DENTAIRE DR HOUSSAM AIT BOUZIANE © 2022 Tous droits réservés</h6> </div>
</div>
