<div id="contianerx">
    <div id="imgdiv">
        <h2>CENTRE DENTAIRE DR HOUSSAM AIT BOUZIANE</h2>
        <button class="btn btn-primary">CONTACTEZ-NOUS</button>
    </div>
    <div id="cardscontianer">
        <div class="card">
            <mat-icon class="cardicon">phone_in_talk</mat-icon>
            <h3>Cas d'urgence</h3>
            <hr>
            <h3>06 76 92 28 71</h3>
            <p>En cas de traumatisme dentaire consécutif à une chute ou à un choc, prenez immédiatement contact avec notre équipe.
            </p>
            <a href="#">EN SAVOIR PLUS</a>
        </div>
        <div class="card card2">
            <mat-icon class="cardicon">spa</mat-icon>
            <h3>Sourire Lumineux</h3>
            <hr>
            <p>Suivez la procédure de blanchiment de plus en plus demandée, simple et peu coûteuse.
                Optez pour un blanchiment réussi grâce aux compétences de notre équipe hautement qualifiée.                
            </p>
            <a href="#">EN SAVOIR PLUS</a>
        </div>
        <div class="card">
            <mat-icon class="cardicon">access_time</mat-icon>
            <h3>Horaires</h3>
            <hr>
            <p>Lundi - Vendredi 10:00 - 19:00</p>
            <hr>
            <p>Samedi 10:00 - 13:00</p>
            <hr>
            <p>Dimanche Fermé</p>
        </div>
    </div>
    <div id="who">
        <div id="drinfo">
            <h3 style="font-size:20px;color: #0abde3;">CENTRE DENTAIRE DR HOUSSAM AIT BOUZIANE</h3>
            <h1>Qui suis-je ?</h1>
            <div id="signature">
                <img src="../../assets/imgs/signature.jpg" alt="">
                <div>
                    <h4>Centre Dentaire</h4>
                    <p>Houssam Ait Bouziane</p>
                </div>
            </div>
        </div>
        <div id="moreinfo">
            <p>Je suis le docteur Houssam Ait Bouziane, je vous accueille avec mon équipe de santé hautement qualifiée dans mon centre dentaire à la pointe de la technologie.</p>
            <p>Je suis le docteur Houssam Ait Bouziane, je vous accueille avec mon équipe de santé hautement qualifiée dans mon centre dentaire à la pointe de la technologie.
                Nous intervenons sur toutes les opérations de chirurgie dentaire réservées à la santé bucco-dentaire et à la restauration esthétique de votre sourire : prothèses dentaires, implants dentaires, greffes osseuses, système Quattro…</p>
        </div>
    </div>
    <div id="imgsection">
        <div class="imgs"><img src="../../assets/imgs/CNOPS-CNSS-Centre-dentaire-dr-houssam-ait-bouziane-Marrakech-Mhamid.png" alt="Mutuelle"> <span class="underimg">Mutuelle</span></div>
        <div class="imgs"><img src="../../assets/imgs/Dentiste-Marrakech-Centre-dentaire-dr-houssam-ait-bouziane-Marrakech-Mhamid.jpg" alt="Technologie innovante"> <span class="underimg">Technologie innovante</span></div>
        <div class="imgs"><img src="../../assets/imgs/Dr-houssam-ait-bouziane-centre-dentaire-Marrakech-ONMD-dentiste-marrakech.png" alt="Dentiste certifié"> <span class="underimg">Dentiste certifié</span></div>
    </div>
    <div id="numbers">
        <div class="item">
            <h2><strong>2000+</strong></h2>
            <p>PATIENTS SOIGNÉS</p>
        </div>
        <div class="item">
            <h2><strong>100 %</strong></h2>
            <p>DE SATISFACTION</p>
        </div>
        <div class="item">
            <h2><strong>150 +</strong></h2>
            <p>POSE D'IMPLANTS/AN</p>
        </div>
        <div class="item">
            <h2><strong>10 +</strong></h2>
            <p>ANS D'EXPERIENCE</p>
        </div>
    </div>
    <div id="moreservices">
        <div class="presentation">
            <h1>CENTER DENTAIRE</h1>
            <h3>DR HOUSSAM AIT BOUZIANE</h3>
            <p>Notre CENTRE DENTAIRE vous propose un environnement sécurisé, dans un cadre de choix, avec un personnel de santé hautement qualifié pour réaliser tous vos soins de chirurgies dentaires.</p>
        </div>
        <div id="services">
            <div class="servecitem">
                <fa-icon [icon]="faIdBadge"></fa-icon>
                <p>Soins</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faSyringe"></fa-icon>
                <p>Implantologie</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faTooth"></fa-icon>
                <p>Orthodontie</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faCertificate"></fa-icon>
                <p>Blanchiment</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faDna"></fa-icon>
                <p>Prothèse</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faCapsules"></fa-icon>
                <p>Parodontalogie</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faUserMd"></fa-icon>
                <p>Chirurgie</p>
            </div>
            <div class="servecitem">
                <fa-icon [icon]="faMedkit"></fa-icon>
                <p>Urgences</p>
            </div>
        </div>
        <div class="presentation">
            <h1>Contactez-nous</h1>
            <h3>DR HOUSSAM AIT BOUZIANE</h3>
            <p>Toute notre équipe sera à votre écoute et vous suivra avec gentillesse, sérieux et professionnalisme, jusqu’à la fin de vos soins.</p>
            <button class="btn btn-primary">CONTACTEZ-NOUS</button>
        </div>
    </div>
</div>
